<!DOCTYPE html>
<html data-ng-app="app">

<head>
  <title>Start</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <link rel="stylesheet" href="https://rawgit.com/marcosflorencio/angular-form-help/master/angular-form.help.css">
</head>

<body data-ng-controller="IndexController as vm">

  <div class="container">
    <form data-ng-submit="vm.submit()" name="userForm" novalidate>
      
      <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && userForm.name.$dirty }">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label>name</label>
            <input type="text" name="name" data-ng-model="vm.name" data-ng-required="true" class="form-control">
          </div>
          <div data-ng-messages="userForm.name.$error" data-ng-if="userForm.name.$dirty">
            <div class="help-block" data-ng-message="required">Required</div>
          </div>
        </div>
      </div>
      
      <div class="form-group" ng-class="{ 'has-error' : userForm.secondName.$invalid && userForm.secondName.$dirty }">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
              <label>Second names</label>
            <input type="text" name="secondName" data-ng-model="vm.secondName" data-ng-required="true" class="form-control">
          </div>
          <div data-ng-messages="userForm.secondName.$error" data-ng-if="userForm.secondName.$dirty">
            <div class="help-block" data-ng-message="required">Required</div>
          </div>
        </div>
      </div>
      
      <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && userForm.email.$dirty }">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
              <label>Email</label>
            <input type="text" name="email" data-ng-model="vm.email" data-ng-required="true" class="form-control">
          </div>
          <div data-ng-messages="userForm.email.$error" data-ng-if="userForm.email.$dirty">
            <div class="help-block" data-ng-message="required">Required</div>
          </div>
        </div>
      </div>

      <form-help-button></form-help-button>

    </form>

    </pre>
  </div>
</body>
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<!-- endbower -->
<script src="app/app.js"></script>
<script src="https://rawgit.com/marcosflorencio/angular-form-help/master/angular-form-help.js"></script>
</html>